<section>
	<perfect-scrollbar class="sidemenu-scrollbar ps-show-always">
		<div class="sidemenu-scrollbar-inner">
			<ul class="nav flex-column">
				<li *ngFor="let card of cards" class="nav-item card__item">
					<a class="nav-link active card__item-link" href="/{{card}}" routerLinkActive="active">{{card}}<span *ngIf="cardType.get(card)" class="card__item-type">{{cardType.get(card)}}</span></a>
				</li>
			</ul>
		</div>
	</perfect-scrollbar>
</section>