.description::before{
	content: 'Description: ';
	color: grey;
}
.type::before{
	content: 'Type: ';
	color: grey;
}
.family::before{
	content: 'Family: ';
	color: grey;
}
.atk::before{
	content: 'ATK: ';
	color: grey;
}
.def::before{
	content: 'DEF: ';
	color: grey;
}
.level::before{
	content: 'Level: ';
	color: grey;
}
.property::before{
	content: 'Property: ';
	color: grey;
}