<section>
	<perfect-scrollbar class="selected-card--scrollbar ps-show-always">
		<div class="container-fluid" *ngIf="!error['status'] && !error['error']">
		    <h2 id="selected-card__name" class="text-center my-3" >{{name}}</h2>
		    <div class="data">
			    <img [src]="image" class="selected-card__image img-fluid float-left w-50 mx-4 mb-2" alt="Image card">
	      		<div class="mx-4 mt-4">
	      			<p *ngIf="fullData.text" class="description">{{fullData.text}}</p>
	      			<p *ngIf="fullData.card_type" class="type">{{fullData.card_type}}</p>
			      	<p *ngIf="fullData.family" class="family">{{fullData.family}}</p>
			      	<p *ngIf="fullData.atk" class="atk">{{fullData.atk}}</p>
			      	<p *ngIf="fullData.def" class="def">{{fullData.def}}</p>
			      	<p *ngIf="fullData.level" class="level">{{fullData.level}}</p>
			      	<p *ngIf="fullData.property" class="property">{{fullData.property}}</p>	
			    </div>    	
	    	</div>
		</div>
		<div class="container-fluid" *ngIf="error.status">
			<h2 id="selected-card__name" class="text-center my-3">{{error.status}}  {{error.statusText}}</h2>
		</div>
		<div class="container-fluid" *ngIf="error.error">
			<h2 id="selected-card__name" class="text-center my-3">{{error.error.message}}</h2>
		</div>
	</perfect-scrollbar>
</section>