<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">YU-GI-OH</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">
      <app-cards>  </app-cards>
    </div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>