@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap/dist/css/bootstrap-grid.min.css';

*,*:before,*:after{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	overflow: hidden;
}
.sidemenu{
	margin-left: 15px;
}
.sidemenu-scrollbar{
	overflow-x: hidden;
	height: calc(100vh - 48px);
	-webkit-box-shadow: 5px 0 5px -5px #888;
	box-shadow: 5px 0 5px -5px #888;
}
.card{
	background: #343a40;
}
.card__item:hover{
	background: #f8f9fa;
}
.card__item-link{
	color: #000;
}
.card__item-type{
	float: right;
	margin-right: 10px;
	font-size: smaller;
	color: #d9d9d9;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	padding: 2px;
}
.container-fluid{
	padding-right: 0;
	padding-left: 0;	
}
.selected-card--scrollbar{
	height: calc(100vh - 48px);
	margin: 0;
	padding: 0;
}
#selected-card__name{
	text-align: center;
}
.selected-card__image{
	max-width: 341px;
}